// for ts
// {
//   "root": true,
//   "parser": "@typescript-eslint/parser",
//   "plugins": ["@typescript-eslint"],
//   "extends": [
//     "eslint:recommended",
//     "plugin:@typescript-eslint/eslint-recommended",
//     "plugin:@typescript-eslint/recommended"
//   ]
// }

//for hs
// module.exports = {
//   env: {
//     browser: true,
//     es2021: true,
//   },
//   extends: "eslint:recommended",
//   parserOptions: {
//     ecmaVersion: "latest",
//     sourceType: "module",
//   },
// };

{
  "extends": ["airbnb-base", "prettier"],
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "env": {
    "node": true,
    "browser": true,
    "es6": true
  },
  "rules": {
    "no-console": "off"
    // "comma-dangle": "off",
    // "no-unused-expressions": "off",
    // "arrow-body-style": "off",
    // "import/prefer-default-export": "off",
    //"object-curly-newline": "off"
  }
}
